:root{
    --branco-principal: #ffffff;
    --cinza-secundario: #C0C0C0;
    --botão-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'Inter';
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
.principal{
    background-image: url(imagens/image.png);
    background-position: 40em 0em;
    background-repeat: no-repeat;
    background-size: 600px;
}
.conteiner{
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.conteiner__botao{
    background-color:var(--botão-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}
.botao__secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}
.conteiner__titulo{
    font-size: 28px;
    font-weight: 700;
}
.conteiner__texto{
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 40px;
    margin: 30px;
}
.conteiner__div{
    margin: 0 2em;
    text-align: center;
}
